* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
          
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.text-white {
    color: #fff !important;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
    
}
.pull-right {
    float: right !important;
}
.mt-8 {
    margin-top: 8px !important;
    
}
.mt-16 {
    margin-top: 16px !important;
   

}
.mt-32 {
    margin-top: 32px !important;
}
.btn {
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none ;

}
.btn:hover {
    color: #000;
   background-color: #ccc;
   opacity: 0.8;
   cursor: pointer;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;


}
.col-full {
    width: 100%;
}
.col-third {
    width: 33.33333%;

}
.col-haft {
    width: 50%;
}
.text-center {
    text-align: center !important;
}

/* main */
#main { 
    /* overflow: hidden;
    sửa lỗi ẩn các cái mở ra thẻ cha */
}

#nav {
    display:inline-block;
    
}


#header { 
height: 46px;
background-color: #000;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;





}
#nav, .subnav {
    list-style-type: none;
    

}
#nav > li {
    display: inline-block;
}
#nav li {
   
    position: relative;
    
}   
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}


#nav li a {
    
  text-decoration: none;
 line-height: 46px;
    padding:0px 24px ;
    display: block ;
    
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;

    
}
#nav li:hover .subnav {
    display: block;
}


#nav .subnav {
display: none;   
 min-width: 160px;
 position: absolute; 
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);




}

#nav .subnav a {
    color: #000;
   padding: 0 16px;
line-height: 38px;




}
#header .mobile-menu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 22px;
   
   
    
    
   
    


}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .search-btn:hover {
   background-color: #f44336;
   cursor: pointer;

}
#header .menu-icon,
#header .search-icon {
    color: #ccc;
    font-size: 20px;
    line-height: 46px;
  
   
    
   

}
#nav .nav-arrow-down {
    font-size: 12px;
}

#slider { 
margin-top: 46px;
padding-top: 50%;
background:url(../img/slider/img1/slider1.jpg) top center / cover no-repeat;
position: relative;
/* display: block;
height: 1000px;
width: 100%; */


}
#slider .text-content {
position: absolute;
    color: #000;
  bottom: 500px;
  text-align: center;
  width: 100%;
 
  
  
  

    
}

#slider .text-heading{
    font-weight: 500px;
    font-size: 45px;
    

}
#slider .text-description
{
    font-size: 35px;
    margin-top: 25px;
}
#content {

}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto; 
    margin-right: auto;
    /* căn giữa */
    padding: 64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
    

}
#content .section-heading {
    font-weight: 500;
    /* chữ mỏng lại */
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    /* cách đều chữ */
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* chữ nghiêng */
    opacity: 0.6;
    /* độ trong suốt */
 
    
}
#content .about-text {
font-size: 15px;
margin-top: 25px;
text-align: justify;
/* căn đều chữ */
line-height: 1.6;
/* khỏng cách dòng */
display: inherit;

}
#content .member-item {
   float: left;
   width: calc(100% / 3);
   /* tính cho 3 cái thành 100% */
   text-align: center;
}
#content .member-list {
    margin-top: 32px;
    /* overflow: hidden; */
}
#content .member-name {
    margin-bottom: 15px;
   
    font-size: 15px;
}
#content .member-img {
    width: 154px;
    border-radius: 4px;
    
}
 .tour-section {
    background-color: #000;
    
   
   
 }
 .tickets-list li {
    font-size: 15px;
   padding: 12px 16px;
    border-bottom: 1px solid #ddd;
     list-style: none; 
    color: #757575;

 }
 .tickets-list {
    background-color: #fff;
    margin-top: 40px;
   
    
 }
.tickets-list .sold-out {
    background-color: #f44336;
   padding: 3px 4px;
    color: #fff;
    margin-left: 16px;


}
.tickets-list .quantity {
    /* padding: 10px 8px; */
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    /* hình tròn */
    text-align: center;
   line-height: 24px;
   margin-top: -3px;

} 


.places-list {

margin-top: 16px;




}




.place-img {
    width: 100%;
   display: block;
    /* làm mất cái khoảng trống đẩy của ảnh */
}
.place-img:hover {
    opacity: 0.6;
    /* làm cho ảnh đậm lại khi trỏ chuoot */
}


.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}


.place-heading {
    font-size: 15px;
    font-weight: bolder;
    /* mỏng chữ */
}


.place-time {
    opacity: 0.6;
    margin-top: 15px;
}


.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


.map-section img {
   width: 100%;
 
}



#footer { 

    padding: 64px 16px;
    text-align: center;
    

}
#footer .socials {
    font-size: 24px;
}
#footer .socials a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#footer .copy-right a,
#footer .socials a:hover {
    color: rgba(0, 0, 0, 0.3);
}
#footer .copy-right {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
    
}
#footer .copy-right a {
    color: rgba(0, 0, 0, 0.5);
}
.modal {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display:none; 
    align-items: center;
    justify-content: center;}
    
   

.modal-container {
   background-color:#fff;
    width: 900px;
   min-height: 100px;
   max-width: calc(100% - 32px);
    position: relative;
    animation: modalpro ease 0.6s; 
} 
.modal-header {
    background-color: #009688;
    height: 130px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
   
}
.modal-heading {
    margin-right: 17px;
}
.modal:hover {
    opacity: 1;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8
}
.modal-body {
    padding: 15px;
}
.modal-lable {
    display: block;
    font-size: 15px;
    margin-top: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 9px;
    margin-bottom: 20px;
}
#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    /* đậm chữ */
    font-size: 15px;
}
#buy-tickets:hover {
    opacity: 0.8;
}
.modal-footer {
    padding: 16px;
    text-align: right;
    
}
.modal-footer a {
    color: #2196F3;
}
.modal.open {
    display: flex;
}
/* contact */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i [class*="ti-"] {
   width: 30px;
   display: inline-block;
  
}
.contact-info a {
    color: #009688;
    opacity: 0.6;
}
.contact-info a:hover {
    opacity: 0.8;

}
  
.contact-form .form-control {
    font: 15px;
    padding: 10px;
    border: 1px solid #ccc;
 
}
.form-submit-btn:hover {
    opacity: 0.7;
}


@keyframes modalpro {
    from {opacity: 0;
transform: translateY(-150px);
    }
    to {opacity: 1;

        transform: translateY(0px);
    }
}




